{lib_dirs, ["deps"]}.

{deps, [
        %% Logging; must be first, or the parse transform isn't available.
        {lager, ".*",
         {git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}},

        %% Cowboy
        {cowboy, ".*",
         {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}},

        %% Django templates
        {erlydtl, ".*",
         {git, "git://github.com/evanmiller/erlydtl.git", "51cc7e1"}},

        %% Poolboy
        {poolboy, ".*",
         {git, "git://github.com/devinus/poolboy.git", {tag, "1.0.1"}}},

        %% epgsql
        {epgsql, ".*",
         {git, "git://github.com/wg/epgsql.git", {tag, "1.4"}}},

        %% Markdown rendering
        {markdown, ".*",
         {git, "git://github.com/rlipscombe/erlmarkdown.git"}},

        %% ACE editor; use [raw], which requires recent "rebar".
        {ace, ".*",
         {git, "https://github.com/ajaxorg/ace-builds/"}, [raw]},

        %% Used by scripts/migrate, for importing Jekyll.
        {erlware_commons, ".*",
         {git, "git://github.com/erlware/erlware_commons.git", "4c97d4a"}},
        {iso8601, ".*",
         {git, "git://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}}

        % @todo I'd love to use ssync, but it doesn't seem to like the latest rebar.
        ]}.

{erl_opts, [
        % lager parse transform -- enables lager:debug, etc.
        {parse_transform, lager_transform}
        ]}.

%% -*- erlang -*-
%% vim: ft=erlang
