{sub_dirs, ["apps/blerg"]}.
{lib_dirs, ["deps"]}.

{deps, [
        {erlware_commons, ".*",
         {git, "git://github.com/erlware/erlware_commons.git"}},
        {iso8601, ".*",
         {git, "git://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}}
        ]}.

%% -*- erlang -*-
%% vim: ft=erlang

