{release, {blerg, "1"}, [blerg]}.
{extended_start_script, true}.

% Default config file is dev config file; saves typing.
{sys_config, "etc/dev.config"}.

% Ensure prod/dev config files are present.
{overlay, [{mkdir, "etc"},
           {copy, "etc/dev.config", "etc/dev.config"},
           {copy, "etc/prod.config", "etc/prod.config"},

           {mkdir, "init"},
           {copy, "init/blerg.conf", "init/blerg.conf"},

           {mkdir, "log"}
          ]}.

% vi:ft=erlang
