%% This is the dev configuration file.
[
 {blerg, [
          {cookies, [{path, "/"}]}
         ]},

 {pooler, [
           {pools, [
                    [{name, db},
                     {max_count, 150},
                     {init_count, 20},
                     {start_mfa,
                      {blerg_db_worker, start_link, [
                                                     [{hostname, "localhost"},
                                                      {database, "blerg"},
                                                      {username, "blerg"},
                                                      {password, ""}]
                                                    ]}}]
                   ]}
          ]},

 %% Logging configuration.
 {lager, [
          {colored, true},
          {colors, [
                    % Assuming 16-color terminal.
                    {debug, "\e[0;37m" },       % dark gray
                    {info, "\e[0;32m" },        % green
                    {notice, "\e[0;36m" },      % cyan
                    {warning, "\e[0;33m" },     % yellow
                    {error, "\e[0;31m" },       % red
                    {critical, "\e[0;35m" },    % magenta
                    {alert, "\e[1;44m" },       % blue background
                    {emergency, "\e[1;41m" }    % red background
                   ]},
          {handlers, [
                      % [Level, {Formatter, FormatterConfig}] -- see https://github.com/basho/lager/#configuration
                      % except that there's no easy way to specify line endings in config;
                      % so use 'true' -- old style.
                      {lager_console_backend, [debug, true]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/info.log"}, {level, info}]}
                     ]},

          % Error logger high-water mark. If more than N error_logger messages
          % are received in a given second, they're dropped. Given the number of processes
          % that we have, however, the default of N=50 is too low.
          {error_logger_hwm, 250}
         ]},

 {folsomite,
  [{graphite_host, "graphs.differentpla.net"},
   {flush_interval, 10000}]}
].

%% For details of the Erlang configuration file syntax, see
%% http://www.erlang.org/doc/man/config.html

%% -*- erlang -*-
%% vim: ft=erlang
