%% This is the prod configuration file.
[    
    {blerg, [
            {cookies, [
                    {path, "/"},
                    {secure, true}]}
            ]},

    %% Logging configuration.
    {lager, [
            {handlers, [
                    % [Level, {Formatter, FormatterConfig}] -- see https://github.com/basho/lager/#configuration
                    % except that there's no easy way to specify line endings in config;
                    % so use 'true' -- old style.
                    {lager_file_backend, [{file, "/var/log/blerg/error.log"}, {level, warning}]},
                    {lager_file_backend, [{file, "/var/log/blerg/info.log"}, {level, info}]}
                    ]}
            ]}
].

%% For details of the Erlang configuration file syntax, see
%% http://www.erlang.org/doc/man/config.html

%% -*- erlang -*-
%% vim: ft=erlang

